.back-btn {
    width: 70px;
    background: #fff;
    color: #000;
    border: 1px solid #000;
    margin: 10px;
    font-size: 30px;
    padding-bottom: 10px;
    cursor: pointer;
}

.product-wrap{
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}
.product-blur{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    div{
        font-size: 100px;
    }
}
.image-box {
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    img {
        height: 100%;
    }
}

.contents-box {
    margin-left: 50px;
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: start;
    border: 1px solid black;
    div{
        margin-bottom: 10px;
    }

    padding: 16px;
    .name {
        font-size: 20px;
    }
    .price {
        font-size: 16px;
        font-weight: bold;
    }
    .createAt {
        font-style: 12px;
        color: rgba(0, 0, 0, 0.8);
    }
    .description {
        font-style: 12px;
        color: rgba(0, 0, 0, 0.8);
    }
    div{
        width: 100%;
        .ant-btn-default{
        width: 100%;
    }}
}
