.upload-container {
    padding-top: 36px;
    width: 100%;
    max-width: 1440px;
    .uploadForm {
        display: flex;
        justify-content: center;
        align-items: center;
        
        .upload-img-placeholder .upload-img{
            width: 300px;
            height: 300px;
            display: block;
            border: 1px solid #000;
            object-fit: cover;
            cursor: pointer;
            .icon-camera {
                width: 50px;
            }
            span {
                font-style: 14px;
                color: #000;
                
            }
        }
    }
}

.ant-form-item-required {
    width: 100px;
}

.ant-form-item-control-input {
    width: 500px;
}